<div class="container mt-4 col-sm-12 col-lg-8 bg-light p-4 rounded mb-5">
  <div id="map" class="mt-2" ></div>
</div>


<style>
  /* Set the size of the div element that contains the map */
  #map {
    height: 750px;  /* The height is 750 pixels */
    width: 100%;  /* The width is the width of the web page */
    border-style: solid;
   }
</style>
<script>
  // Initialize and add the map
  function initMap() {    
    // The location based on the address provided
    var option = {
    zoom:18,
    center:({lat: 49.8951, lng: 97.1384})
    }

    infoWindow = new google.maps.InfoWindow;

    // generates google map
    var map = new 
    google.maps.Map(document.getElementById('map'), option);

    current_location();

    <% @stores.each do |store| %>
		addMarker({coords:{ lat: <%= store.latitude %>, 
                    lng: <%= store.longitude %>},
                    content: '<h2><%= store.name %></h2><h3><%= store.address %></h3>'
        });
	<% end %>

    // Handles the current location of the device; if browser is not supported or not allowing location, show errorMessage;
    function current_location() {
      // Locates current location of the device
      if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(function(position) {

          var pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          infoWindow.setPosition(pos);
          infoWindow.setContent("<h4>You're here</h4>");
          infoWindow.open(map);
          map.setCenter(pos);

        }, function() {
          handleLocationError(true, infoWindow, map.getCenter());
        });
      } else {
        // Browser doesn't support Geolocation
        handleLocationError(false, infoWindow, map.getCenter());
      }
    }

    // Handles Error messages when the googleMap couldn't locate your current location; browser is does not support geolocation
    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
      infoWindow.setPosition(pos);
      infoWindow.setContent(browserHasGeolocation ?
                            'Error: The Geolocation service failed.' :
                            'Error: Your browser doesn\'t support geolocation.');
      infoWindow.open(map);
    }

    // Add marker function
    function addMarker(props) {
      var marker = new google.maps.Marker({
        position:props.coords,
        map:map
      });

      // checks if there is a content
      if(props.content)
      {
        // creates a new content window for each marker
        var infoWindow = new google.maps.InfoWindow({
          content:props.content
        });

        // add a listener that opens the window when the marker is clicked
        marker.addListener('click', function(){
          infoWindow.open(map, marker);
        });
      }
    }
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA8etXtYj5InIxhybRUxdmD5LY731EOHUI&callback=initMap">
</script>