<div class="container col-md-12 col-lg-8">
	<div class="row" >        
		<% @books.each do |book| %>
		<div class="deal-container col-md-12 col-lg-4 border shadow-sm p-3 bg-light rounded m-0 mt-2 mx-auto">
			<%= link_to book.title, book_path(book.id), :class => "text-truncate h2" %>
			<hr>
			<small>By: <%= book.author %></small>
		</div>
		<% end %>
	</div>
	<div class="row mt-2 justify-content-center align-items-center">
		<ul class="pagination">
			<%= paginate @books %>	
		</ul>		
	</div>       
</div>