<div class="container mt-5 mb-5 col-md-8 bg-light rounded p-3">
	<h1>Intro Project - Full Stack</h1>
	<p>This is my intro project for full stack web development called iBooks. It is a web app that displays a collection of books and stores.</p>
	<h1>Data Structure</h1>
	<p>- I used Faker to generate all the data I need to my database.</p>
	<p>- Faker::Book - used for Book Table</p>
	<p>- Faker::Book.genre - Used for Genre Table</p>
	<p>- Faker::Address - Used for Store full_address and latitude/longitude</p>
	<p>- Faker::Coffee - Used name for Store name</p>
</div>